  body {
    font-family: "Lily Script One", "cursive" "Inter", "Playfair Display", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8EADA;
    text-decoration: none;
  }
  .logo-title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin: 0;
    padding-top: 7px;
  }
  .logo-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .logo {
    width: 80px;
    margin-right: 10px;
  }
  .logo img {
    width: 100%;
  }
  .Text-title {
    font-family: "Lily Script One", "cursive";
    font-size: 28px;
    color: #532C04;
    margin: 0;
    font-weight: 600;
  }
  .back-b {
    display: flex;
    align-items: center;
    margin-right: 40px;
    border: solid;
    border-radius: 10px;
    border-color: #4A332A;
    background-color: transparent;
    width: 155px;
    height: 45px;
    justify-content: center;
  }
  .back-icon {
    display: flex;
    width: 14px;
    margin-right: 10px;
  }
  .back-icon img {
    width: 100%;
  }
  .back-btn p{
    font-family: "Inter",;
    font-size: 16px;
    color: #4A332A;
    margin: 0;
    font-weight: 400;
  }
  .container-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: 70px;
    background-color: #FBFBFB;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
  }
  .nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    margin: 0;
    padding: 0;
  }
  .nav-bar li a {
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: #6B7280;
    cursor: pointer;
    font-weight: 500;
  }
  .products {
    display: flex;
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .products img {
    width: 100%;
    margin-right: 5px;
  }
  .Ingredients {
    display: flex;
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .Ingredients img {
    width: 100%;
    margin-right: 5px;
  }
  .cart {
    display: flex;
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .cart img {
    width: 100%;
    margin-right: 5px;
  }
.report {
  display: flex;
  width: 20px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.report img {
  width: 100%;
  margin-right: 5px;
}
.product-management-card {
  width: 95%;
  background-color: #FBFBFB;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding-bottom: 1px;
}
.title-add-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px 20px;

}
.title p {
  font-family: "Inter";
  font-size: 25px;
  color: #532C04;
  margin-left: 25px;
  font-weight: 600;
}
.add-btn {
  display: flex;
  width: 155px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: #AEAAA5;
  background-color: #532C04;
  border-radius: 7px;
  color: white;
  font-family: "Inter";
  cursor: pointer;
}
.add-btn span img {
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-right: 3px;
}
.white {
  filter: brightness(0) invert(1);
}
.search-container {
  position: relative;
  display: flex;
  max-width: 95%;
  align-items: center;
  border-style: none;
  margin: auto;
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  flex: 1;
  height: 25px;
  font-family: "inter";
  font-size: 16px;
  border-radius: 25px;
  padding-left: 35px;
  background-color: rgb(213, 196, 196, 0.2);
  border-style: none;
  height: 40px;
}
.search-container .search-bar:focus {
    outline: none;
}
.search-container span:first-child {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container span:last-child {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container .icon {
    display: flex;
    width: 15px;
    height: 15px;
    align-items: center;
}
.search-bar::placeholder {
  font-family: "Inter";
  font-size: 14px;
  color: #8B6F47;
  
}
.popup-container {
  display: flex;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {    
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  position: relative; 
}

.popup-content h2 {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
  color: #532C04 ;
  text-align: center;
}
.title {
  font-family: "Inter";
  font-size: 12px;
  color: #8B6F47;
  margin-bottom: 9px;
  font-weight: 400;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.input-box-name, .input-box-category, .input-box-number {
  font-family: "inter";
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  background-color: #F2F2F2;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  box-sizing: border-box;
}
.input-box-desc {
  font-size: "inter" ;
  font-size: 15px;
  width: 100%;
  height: 100px;
  border-style: none;
  border-radius: 10px;
  background-color: #F2F2F2;
  white-space: normal;
  outline: none;
  resize: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 5px 10px;
}


.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel-btn, .confirm-btn {
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.cancel-btn {
  background: #fff;
  border: 1px solid #c6c6c6;
}

.confirm-btn {
  background: #4b2e19;
  color: white;
  border: none;
}

.product-item {
  background-color: #FBFBFB;
  border-style: solid;
  border-color: #AEAAA5;
  border-radius: 12px;
  padding: 15px;
  margin: auto;
  display: flex;
  max-width: 93%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.stock-btn {
  padding: 5px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 13px;
  border: none;
}

.delete-btn {
  background: #ff6243;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.delete-message {
    margin: 20px 0;
    text-align: center;
}
.delete-message p {
    margin: 5px 0;
}
.confirm-btn.delete {
    background-color: #e74c3c;
    color: white;
}
.confirm-btn.delete:hover {
    background-color: #c0392b;
}
.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content h2 {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 500;
  color: #532C04;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.delete {
    margin: 20px 0;
    text-align: center;
    padding-top: 20px;
}

.delete p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: #8B6F47;
  margin: 0;
}

.popup-buttons {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}
.Delete-btn {
  display: flex;
  width: 100%;
  padding-top: 50px;
}
.confirm-btn-delete {
  flex: 1;
  font-family: "Inter";
  font-size: 16px;
  background-color: #FF0000;
  color: white;
  border-radius: 6px;
  border-style: none;
  padding: 9px;
  cursor: pointer;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
}
.Cancel-btn {
  display: flex;
  width: 100%;
  padding-top: 8px;
}
.cancel {
  flex: 1;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border-style: solid;
  border-color: #D1D5DB;
  padding: 8px;
  cursor: pointer;
}
.product-item {
  margin-bottom: 20px;
}
.product-info {
  gap: 20px;
}
.name-category {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
}
.name {
  display: flex;
}
.name h3 {
  font-family: 'Inter';
  font-size: 32px;
  color: #70593A;
  margin: 0;
}
.category {
  display: flex;
  width: 100px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color:  #AEAAA5;
  border-radius: 30px;

}
.category p {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 600;
  color: #8B6F47;
  margin: 0;
}
.description {
  display: flex;
  max-width: 600px;
  margin-top: 8px;
  color: #6d4f2f;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.desc-text {
  display: inline;
  flex: 1;
  font-family: 'Inter';
  font-size: 16px;
  color: #8B6F47;
  margin: 0;
  padding: 10px 0 0 0;
}
.edit-icon {
    width: 15px;          
    height: 15px;
    margin-left: 8px;
    cursor: pointer;
    vertical-align: middle;
    opacity: 0.8;
    transition: 0.2s;
}
.edit-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}
.edit-button img {
  width: 100%;
}
.price-stock-button-delete-button {
  display: flex;
  flex-direction: column;
 justify-content: end;
}
.price-stock {
  width: 70px;
}
.price-stock p {
  font-family: 'Inter';
  font-size: 20px;
  margin: 0;
  color: #70593A;
}
.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  vertical-align: bottom;
}
.delete-btn {
  border: none;
  background-color: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.delete-btn img {
  width: 23px;
  height: 23px;
}
.in-stock {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: none;
  cursor: pointer;
  pointer-events: auto;
  z-index: 9999; 
}
